/*!
Theme Name: cybyte
Theme URI: http://underscores.me/
Author:Raj kamal & kalyan
Author URI: http://underscores.me/
Description: cybyte custom wordpress theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: cybyte
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

cybyte is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries

# Theme Specific Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------
# Theme Specific Styles
-------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

.logged-in .navbar-fixed-top{
	top: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700; }

body {
	width: 100%;
	height: 100%;
	font-family: "Roboto", sans-serif;
	color: #333333;
	background-color: #fff;
	font-size: 15px; }

html {
	width: 100%;
	height: 100%; }

h1 {
	margin: 0 0 35px;
	font-family: "Roboto", sans-serif;
	letter-spacing: 1px; }

p {
	margin: 0 0 25px;
	font-size: 16px;
	line-height: 28px; }

a {
	color: #29c4ff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out; }
a:hover, a:focus {
	text-decoration: none;
	color: #ff8800; }

.light {
	font-weight: 400; }

.navbar-custom {
	margin-bottom: 0;
	border-bottom: 1px solid #044565;
	font-family: "Roboto", sans-serif;
	background-color: #3278aa;
	margin-top: 3px; }

.navbar-custom .navbar-toggle {
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 12px; }

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
	outline: none; }

.navbar-custom .navbar-brand {
	padding: 0; }

.navbar-custom .navbar-brand > img {
	width: 30%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out; }

.navbar-custom .navbar-brand:focus {
	outline: none; }

.navbar-custom a {
	color: white; }

.navbar-custom .nav li a {
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	font-size: 14px;
	text-transform: uppercase; }

.navbar-custom .nav li a:hover {
	color: rgba(255, 255, 255, 0.8);
	outline: none;
	background-color: transparent; }

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
	outline: none;
	background-color: transparent; }

.navbar-custom .nav li.active {
	outline: none; }

.navbar-custom .nav li.active a {
	background-color: rgba(255, 255, 255, 0.3); }

.navbar-custom .nav li.active a:hover {
	color: white; }

@media (min-width: 768px) {
	.navbar-custom {
		padding: 15px;
		letter-spacing: 1px;
		background: transparent;
		-webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
		-moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
		transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }

	.navbar-custom.top-nav-collapse {
		padding: 10px;
		background: #ffffff;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
	.navbar-custom.top-nav-collapse .nav li a {
		color: #115576; }
	.navbar-custom.top-nav-collapse .nav li a:hover, .navbar-custom.top-nav-collapse .nav li a:focus {
		color: #f99e36; }

	.navbar-custom.top-nav-collapse .navbar-brand > img {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		width: 25%; } }
.slides-navigation a {
	color: #fff;
	font-size: 24px;
	height: 42px;
	width: 42px; }

.slides-navigation a .fa {
	font-size: 42px !important; }

.slides-navigation a.prev {
	left: 30px;
	text-align: right; }

.slides-navigation a.next {
	right: 30px; }

#slides .container {
	margin-top: 15%;
	text-align: center;
	color: #fff; }

.topline .orange-line {
	background-color: #f99e36;
	height: 3px; }
.topline .blue-line {
	background: #115576;
	height: 3px; }

.intro {
	height: 100%;
	padding: 0; }
.intro .h1 {
	color: #f99e36;
	font-size: 30px;
	font-family: "Roboto", sans-serif;
	margin-bottom: 20px; }
.intro h4 {
	font-size: 22px;
	margin-bottom: 25px;
	line-height: 36px; }

.btn {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out; }
.btn:hover {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out; }
.btn.btn-rounded {
	border-radius: 25px;
	padding: 8px 25px;
	text-transform: uppercase; }
.btn.btn-orange {
	background-color: #f99e36;
	border-color: #f99e36;
	color: #fff; }
.btn.btn-orange:hover {
	background-color: transparent;
	color: #f99e36; }
.btn.btn-blue-line-rounded {
	background-color: transparent;
	border-color: #115576;
	color: #115576; }
.btn.btn-blue-line-rounded:hover {
	background-color: #115576;
	color: #fff; }
.btn.btn-white-line-rounded {
	background-color: transparent;
	border-color: #fff;
	color: #fff; }
.btn.btn-white-line-rounded:hover {
	background-color: #fff;
	color: #ff8800; }
.btn.btn-lg {
	padding: 12px 36px;
	font-size: 15px; }

#mainSlider .owl-dots {
	position: absolute;
	margin-top: -40px;
	margin-left: 20px; }
#mainSlider .owl-dots .owl-dot span {
	width: 10px;
	height: 5px;
	margin: 5px 7px;
	background: #f8f8f8; }
#mainSlider .owl-dots .owl-dot.active span,
#mainSlider .owl-dots .owl-dot:hover span {
	background: #f99e36; }

section#homeContent {
	margin-top: -8%;
	padding: 25px 0 50px;
	background-color: #fff;
	z-index: 100;
	position: relative; }
section#homeContent .cybyteLogo {
	margin-top: 50px;
	margin-bottom: 30px; }
section#homeContent p {
	font-size: 16px;
	line-height: 30px; }

.bt-ornage-link {
	color: #f99e36;
	text-decoration: none;
	font-size: 16px; }
.bt-ornage-link:hover {
	color: #f58607; }
.bt-ornage-link .colorBadge {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #f99e36;
	display: inline-block;
	margin-right: 10px; }

section#whatwedo {
	padding: 50px 0; }
section#whatwedo h2 {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #ff8800;
	font-weight: bold; }
section#whatwedo h2 span {
	color: #115576;
	font-size: 36px; }
section#whatwedo .carouselSection {
	background-color: white;
	margin-top: 30px;
	box-shadow: 0px 0px 29.44px 2.56px rgba(0, 0, 0, 0.17); }
section#whatwedo .carouselSection .eachDo {
	padding: 20px;
	text-align: center;
	border-right: 1px dotted #e5e5e5; }
section#whatwedo .carouselSection .eachDo .h3 {
	font-family: "Roboto", sans-serif;
	color: #115576;
	font-size: 20px; }
section#whatwedo .carouselSection .eachDo p {
	margin: 20px 0 60px; }
section#whatwedo .carouselSection .eachDo .btn {
	margin-top: 0;
	margin-bottom: 30px; }
section#whatwedo .carouselSection .eachDo .icon img {
	margin: 20px auto;
	width: 60px;
	display: block; }
section#whatwedo .carouselSection .owl-prev {
	height: 60px;
	width: 60px;
	background: url(../img/back.png) transparent;
	margin-left: -100px;
	position: absolute;
	top: 32%;
	left: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.7; }
section#whatwedo .carouselSection .owl-next {
	height: 60px;
	width: 60px;
	background: url(../img/next.png) transparent;
	position: absolute;
	top: 32%;
	right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-right: -100px;
	opacity: 0.7; }

section#progress {
	padding: 50px 0; }
section#progress h2 {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #ff8800;
	font-weight: bold;
	margin-bottom: 30px; }
section#progress h2 span {
	color: #115576;
	font-size: 36px; }
section#progress .pregress-container {
	background-color: white;
	box-shadow: 0px 3px 67.15px 11.85px rgba(0, 0, 0, 0.03);
	padding: 30px 15px; }
section#progress .pregress-container .progress-art-work {
	background-color: white;
	opacity: 0.98;
	box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.09);
	padding: 75px 50px;
	margin: 40px -40px 40px 50px; }
section#progress .progress-img {
	width: 64px;
	margin-right: 20px; }
section#progress h4 {
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	color: #ff8800;
	text-align: left;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 10px; }
section#progress p {
	line-height: 26px; }

section#howwedo {
	padding: 50px 0; }
section#howwedo h2 {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #115576;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px; }
section#howwedo h2 span {
	color: #115576;
	font-size: 36px; }
section#howwedo .wedoblock {
	background-color: white;
	box-shadow: 0px 0px 12.48px 3.52px rgba(0, 0, 0, 0.11);
	padding: 20px; }
section#howwedo .wedoblock img {
	width: 100px; }
section#howwedo h3 {
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	color: #ff8800;
	margin-bottom: 30px;
	text-transform: uppercase; }
section#howwedo .h3 {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	color: #115576;
	font-weight: bold;
	margin-bottom: 30px;
	line-height: 29px; }
section#howwedo ul {
	margin-bottom: 40px; }
section#howwedo ul li {
	margin-bottom: 15px; }

section#callToAction {
	background-color: #115576;
	padding: 30px 0;
	margin-top: 20px; }
section#callToAction h3 {
	color: #fff;
	font-family: "Roboto", sans-serif;
	margin-bottom: 30px;
	font-size: 24px; }
section#callToAction .btn {
	border-width: 2px;
	border-radius: 50px; }

section#OurclientSay {
	background-color: #fff;
	padding: 50px; }
section#OurclientSay h2 {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #ff8800;
	font-weight: bold;
	margin-bottom: 60px;
	text-transform: uppercase; }
section#OurclientSay .eachTestimonial {
	padding: 50px 0;
	text-align: center; }
section#OurclientSay .eachTestimonial p {
	line-height: 26px; }
section#OurclientSay .cotext {
	margin-bottom: 75px; }
section#OurclientSay .personName {
	color: #115576;
	margin-bottom: 5px; }
section#OurclientSay small {
	color: #ff8800; }
section#OurclientSay .owl-theme .owl-dots .owl-dot span {
	margin: 10px 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 15px;
	height: 6px; }
section#OurclientSay .owl-theme .owl-dots .owl-dot.active span,
section#OurclientSay .owl-theme .owl-dots .owl-dot:hover span {
	background: #ff8800;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out; }

footer#preFooter {
	background-color: #ececec;
	padding: 50px 0 25px; }
footer#preFooter img {
	width: 64px;
	margin-bottom: 35px; }
footer#preFooter p,
footer#preFooter a {
	color: #115576; }

footer.primary {
	background-color: #2e2e2e;
	padding: 15px 0; }
footer.primary .nav > li > a {
	position: relative;
	display: block;
	padding: 10px 8px;
	color: #fff; }
footer.primary .nav > li > a:hover,
footer.primary .nav > li > a:focus {
	text-decoration: none;
	background-color: #444; }
footer.primary .social-icons {
	margin: 5px 0;
	float: right; }
footer.primary .social-icons img {
	width: 30px; }
footer.primary .list-inline > li {
	display: inline-block;
	padding-left: 2px;
	padding-right: 2px; }

footer.secondary {
	background-color: #393737;
	padding: 10px 0;
	color: #919191;
	font-size: 85%; }
footer.secondary .nav {
	float: right; }
footer.secondary .nav > li > a {
	position: relative;
	display: block;
	padding: 10px 8px;
	color: #919191; }
footer.secondary p {
	font-size: 85%;
	margin-top: 8px;
	margin-bottom: 0; }
footer.secondary .nav > li > a:hover,
footer.secondary .nav > li > a:focus {
	text-decoration: none;
	background-color: #444; }

.parallax-window {
	height: 400px;
	width: 100%;
	padding: 200px 0; }

.parallax-half-window {
	height: fit-content;
	width: 100%; }

.page-title h2 {
	margin-top: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	color: #ff8800; }

.breadcrumbs-path {
	background-color: transparent;
	padding: 10px 0;
	border-radius: 25px;
	margin-top: 50px; }
.breadcrumbs-path a {
	color: white; }
.breadcrumbs-path li.active {
	color: #ff8800; }

#aboutUs {
	padding: 50px 0;
	background-image: url(../img/hexagon-pattern2.svg); }
#aboutUs .about-container {
	background-color: white;
	box-shadow: 0px 3px 67.15px 11.85px rgba(0, 0, 0, 0.03);
	padding: 50px 40px;
	background-image: url(../img/cybyte-element-small.svg);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 25%; }
#aboutUs p {
	margin-bottom: 25px;
	line-height: 28px; }
#aboutUs p a {
	font-weight: 700;
	color: #333333; }
#aboutUs h2 {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #115576;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px; }

.nbox {
	background-color: white;
	box-shadow: 0px 3px 67.15px 11.85px rgba(0, 0, 0, 0.03); }

.why-us-desc {
	margin: 75px 50px;
	padding: 30px 40px; }
.why-us-desc h2 {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #ff8800;
	font-weight: bold; }
.why-us-desc h2 span {
	color: #115576;
	font-size: 36px; }
.why-us-desc .why-us-solutions {
	text-align: center;
	margin-bottom: 30px; }
.why-us-desc .why-us-solutions img {
	width: 64px;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px; }
.why-us-desc .why-us-solutions .lead {
	color: #115576;
	font-size: 15px;
	font-weight: 700; }

section#Services-Section {
	margin: 75px 0 150px; }
section#Services-Section .services-box {
	background-color: white;
	box-shadow: 0px 3px 67.15px 11.85px rgba(0, 0, 0, 0.03);
	padding: 50px 40px;
	background-image: url(../img/cybyte-element-small.svg);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 15%; }
section#Services-Section .services-box p {
	margin-bottom: 25px;
	line-height: 28px; }
section#Services-Section .services-box p a {
	font-weight: 700;
	color: #333333; }
section#Services-Section h2 {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #115576;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px; }

.service-highlights {
	position: relative; }
.service-highlights .service-picture {
	margin-top: 150px; }
.service-highlights .service-points {
	padding: 50px 50px 100px;
	margin-top: -75px;
	margin-bottom: -50px; }
.service-highlights .service-points .each-service-point {
	margin-bottom: 10px; }
.service-highlights .service-points .each-service-point h4 {
	margin-top: 35px;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase; }
.service-highlights .service-points .each-service-point img {
	width: 92px; }

#main-services {
	padding: 100px 0 75px; }
#main-services .main-services-item {
	text-align: center;
	padding: 20px;
	min-height: 330px;
	margin-bottom: 20px; }
#main-services .main-services-item img {
	width: 92px; }
#main-services .main-services-item h4 {
	font-size: 18px;
	color: #f99e36; }
#main-services .main-services-item p {
	line-height: 28px; }

.blog-item {
	margin: 50px 0; }
.blog-item .btn {
	background-color: transparent;
	color: #115576;
	border-color: #115576;
	padding: 4px 8px;
	margin: 4px;
}
.blog-item a {
	color: #ff8800; }
.blog-item .blog-meta {
	padding: 20px; }
.blog-item .postedBy {
	font-weight: 700; }
.blog-item .postedBy .date {
	font-weight: 400;
	color: #999; }

.search-2 {
	margin-top: 50px;
	padding: 20px 15px;
	background-color: white;
	box-shadow: 0px 3px 67.15px 11.85px rgba(0, 0, 0, 0.03); }
.search-2 .form-control {
	background-color: #fff;
	height: 44px;
	padding: 8px 25px;
	border-radius: 25px; }

#recent-posts-3 a {
	color: #333;
	font-weight: normal;
	font-size: 15px;
	line-height: 26px; }
#recent-posts-3 .blog-item .blog-meta {
	padding: 10px; }
#recent-posts-3 {
	margin-top: 20px; }
#recent-posts-3 h2 {
	font-size: 18px;
	color: #ff8800;
	margin-left: 20px;
	padding-top: 20px; }
#recent-posts-3.widget_recent_entries ul {
	padding-left: 0;
	list-style: none;
	padding-bottom: 20px; }
#recent-posts-3.widget_recent_entries ul li {
	padding: 13px 0 13px 20px;
	border-bottom: 1px dotted #ececec; }
#recent-posts-3.widget_recent_entries ul li a {
	color: #333; }

#categories-2 {
	margin-top: 50px;
	padding: 20px 15px;
	background-color: white;
	box-shadow: 0px 3px 67.15px 11.85px rgba(0, 0, 0, 0.03);}
#categories-2 h2 {
	font-size: 18px;
	color: #ff8800;
	margin-left: 20px;
	padding-top: 20px; }
#categories-2.widget_categories ul {
	padding-left: 0;
	list-style: none;
	padding-bottom: 20px; }
#categories-2.widget_categories ul li {
	padding: 13px 0 13px 20px;
	border-bottom: 1px dotted #ececec; }
#categories-2.widget_categories ul li a {
	color: #333; }
/*# sourceMappingURL=main.css.map */

#search-2 {
	margin-top: 50px;
	padding: 20px 15px;
	background-color: white;
	box-shadow: 0px 3px 67.15px 11.85px rgba(0, 0, 0, 0.03);
}

.search-field{
	background-color: #fff;
	height: 44px;
	padding: 8px 25px;
	border-radius: 25px;
}

.searched-for{
	margin-top: 50px !important;
	padding: 24px;
}
