@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: #fff;
  font-size: 15px; }

html {
  width: 100%;
  height: 100%; }

h1 {
  margin: 0 0 35px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px; }

p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.5; }

a {
  color: #29c4ff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #ff2a2a; }

.light {
  font-weight: 400; }

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid #044565;
  font-family: "Roboto", sans-serif;
  background-color: #3278aa;
  margin-top: 3px; }

.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px; }

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none; }

.navbar-custom .navbar-brand {
  padding: 0; }

.navbar-custom .navbar-brand > img {
  width: 30%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.navbar-custom .navbar-brand:focus {
  outline: none; }

.navbar-custom a {
  color: white; }

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  font-size: 14px;
  text-transform: uppercase; }

.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent; }

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent; }

.navbar-custom .nav li.active {
  outline: none; }

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3); }

.navbar-custom .nav li.active a:hover {
  color: white; }

@media (min-width: 768px) {
  .navbar-custom {
    padding: 15px;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }

  .navbar-custom.top-nav-collapse {
    padding: 10px;
    background: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
    .navbar-custom.top-nav-collapse .nav li a {
      color: #115576; }
      .navbar-custom.top-nav-collapse .nav li a:hover, .navbar-custom.top-nav-collapse .nav li a:focus {
        color: #f99e36; }

  .navbar-custom.top-nav-collapse .navbar-brand > img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 25%; } }
.slides-navigation a {
  color: #fff;
  font-size: 24px;
  height: 42px;
  width: 42px; }

.slides-navigation a .fa {
  font-size: 42px !important; }

.slides-navigation a.prev {
  left: 30px;
  text-align: right; }

.slides-navigation a.next {
  right: 30px; }

#slides .container {
  margin-top: 15%;
  text-align: center;
  color: #fff; }

.topline .orange-line {
  background-color: #f99e36;
  height: 3px; }
.topline .blue-line {
  background: #115576;
  height: 3px; }

.intro {
  height: 100%;
  padding: 0; }
  .intro .h1 {
    color: #f99e36;
    font-size: 30px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 20px; }
  .intro h4 {
    font-size: 22px;
    margin-bottom: 25px;
    line-height: 36px; }

.btn {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn:hover {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .btn.btn-rounded {
    border-radius: 25px;
    padding: 8px 25px;
    text-transform: uppercase; }
  .btn.btn-orange {
    background-color: #f99e36;
    border-color: #f99e36;
    color: #fff; }
    .btn.btn-orange:hover {
      background-color: transparent;
      color: #f99e36; }
  .btn.btn-blue-line-rounded {
    background-color: transparent;
    border-color: #115576;
    color: #115576; }
    .btn.btn-blue-line-rounded:hover {
      background-color: #115576;
      color: #fff; }
  .btn.btn-white-line-rounded {
    background-color: transparent;
    border-color: #fff;
    color: #fff; }
    .btn.btn-white-line-rounded:hover {
      background-color: #fff;
      color: #ff8800; }
  .btn.btn-lg {
    padding: 12px 36px;
    font-size: 15px; }

section#homeContent {
  margin-top: -10%;
  padding: 50px 0;
  background-color: #fff;
  z-index: 100;
  position: relative; }
  section#homeContent .cybyteLogo {
    margin-top: 50px;
    margin-bottom: 30px; }
  section#homeContent p {
    font-size: 16px;
    line-height: 30px; }

.bt-ornage-link {
  color: #f99e36;
  text-decoration: none;
  font-size: 16px; }
  .bt-ornage-link:hover {
    color: #f58607; }
  .bt-ornage-link .colorBadge {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f99e36;
    display: inline-block;
    margin-right: 10px; }

section#whatwedo {
  padding: 50px 0; }
  section#whatwedo h2 {
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    color: #ff8800;
    font-weight: bold; }
    section#whatwedo h2 span {
      color: #115576;
      font-size: 36px; }
  section#whatwedo .carouselSection {
    background-color: white;
    margin-top: 30px;
    box-shadow: 0px 0px 29.44px 2.56px rgba(0, 0, 0, 0.17); }
    section#whatwedo .carouselSection .eachDo {
      padding: 20px;
      text-align: center;
      border-right: 1px dotted #e5e5e5; }
      section#whatwedo .carouselSection .eachDo .h3 {
        font-family: "Roboto Slab", serif;
        color: #115576;
        font-size: 20px; }
      section#whatwedo .carouselSection .eachDo p {
        margin: 20px 0 60px; }
      section#whatwedo .carouselSection .eachDo .btn {
        margin-top: 0;
        margin-bottom: 30px; }
      section#whatwedo .carouselSection .eachDo .icon img {
        margin: 20px auto;
        width: 60px;
        display: block; }
    section#whatwedo .carouselSection .owl-prev {
      height: 60px;
      width: 60px;
      background: url(/wp-content/themes/cybyte/assets/img/back.png) transparent;
      margin-left: -100px;
      position: absolute;
      top: 32%;
      left: 0;
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0.7; }
    section#whatwedo .carouselSection .owl-next {
      height: 60px;
      width: 60px;
      background: url(/wp-content/themes/cybyte/assets/img/next.png) transparent;
      position: absolute;
      top: 32%;
      right: 0;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: -100px;
      opacity: 0.7; }

section#progress {
  padding: 50px 0; }
  section#progress h2 {
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    color: #ff8800;
    font-weight: bold;
    margin-bottom: 30px; }
    section#progress h2 span {
      color: #115576;
      font-size: 36px; }
  section#progress .pregress-container {
    background-color: white;
    box-shadow: 0px 3px 67.15px 11.85px rgba(0, 0, 0, 0.03);
    padding: 30px 15px; }
    section#progress .pregress-container .progress-art-work {
      background-color: white;
      opacity: 0.98;
      box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.09);
      padding: 75px 50px;
      margin: 40px -40px 40px 50px; }
  section#progress .progress-img {
    width: 64px;
    margin-right: 20px; }
  section#progress h4 {
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    color: #ff8800;
    text-align: left;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 10px; }
  section#progress p {
    line-height: 26px; }

section#howwedo {
  padding: 50px 0; }
  section#howwedo h2 {
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    color: #115576;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px; }
    section#howwedo h2 span {
      color: #115576;
      font-size: 36px; }
  section#howwedo .wedoblock {
    background-color: white;
    box-shadow: 0px 0px 12.48px 3.52px rgba(0, 0, 0, 0.11);
    padding: 20px; }
    section#howwedo .wedoblock img {
      width: 100px; }
  section#howwedo h3 {
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    color: #ff8800;
    margin-bottom: 30px;
    text-transform: uppercase; }
  section#howwedo .h3 {
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    color: #115576;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 29px; }
  section#howwedo ul {
    margin-bottom: 40px; }
  section#howwedo ul li {
    margin-bottom: 15px; }

section#callToAction {
  background-color: #ff8800;
  padding: 30px 0;
  margin-top: 20px; }
  section#callToAction h3 {
    color: #fff;
    font-family: "Roboto Slab", serif;
    margin-bottom: 30px;
    font-size: 22px; }
  section#callToAction .btn {
    border-width: 2px;
    border-radius: 50px; }

section#OurclientSay {
  background-color: #fff;
  padding: 50px; }
  section#OurclientSay h2 {
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    color: #ff8800;
    font-weight: bold;
    margin-bottom: 60px;
    text-transform: uppercase; }
  section#OurclientSay .eachTestimonial {
    padding: 50px 0;
    text-align: center; }
    section#OurclientSay .eachTestimonial p {
      line-height: 26px; }
  section#OurclientSay .cotext {
    margin-bottom: 75px; }
  section#OurclientSay .personName {
    color: #115576;
    margin-bottom: 5px; }
  section#OurclientSay small {
    color: #ff8800; }
  section#OurclientSay .owl-theme .owl-dots .owl-dot span {
    margin: 10px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 15px;
    height: 6px; }
  section#OurclientSay .owl-theme .owl-dots .owl-dot.active span,
  section#OurclientSay .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff8800;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

footer#preFooter {
  background-color: #ececec;
  padding: 50px 0 25px; }
  footer#preFooter img {
    width: 64px;
    margin-bottom: 35px; }
  footer#preFooter p,
  footer#preFooter a {
    color: #115576; }

footer.primary {
  background-color: #2e2e2e;
  padding: 15px 0; }
  footer.primary .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 8px;
    color: #fff; }
  footer.primary .nav > li > a:hover,
  footer.primary .nav > li > a:focus {
    text-decoration: none;
    background-color: #444; }
  footer.primary .social-icons {
    margin: 5px 0;
    float: right; }
  footer.primary .social-icons img {
    width: 30px; }
  footer.primary .list-inline > li {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px; }

footer.secondary {
  background-color: #393737;
  padding: 10px 0;
  color: #919191;
  font-size: 85%; }
  footer.secondary .nav {
    float: right; }
  footer.secondary .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 8px;
    color: #919191; }
  footer.secondary p {
    font-size: 85%;
    margin-top: 15px;
    margin-bottom: 0; }
  footer.secondary .nav > li > a:hover,
  footer.secondary .nav > li > a:focus {
    text-decoration: none;
    background-color: #444; }

/*# sourceMappingURL=main.css.map */
