@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');
$normal: 'Roboto',
sans-serif;
$heading: 'Roboto Slab',
serif;
$blue: #115576;
$orange: #f99e36;
$orange2: #ff8800;
body {
    width: 100%;
    height: 100%;
    font-family: $normal;
    color: #333333;
    background-color: #fff;
    font-size: 15px;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0 0 35px;
    font-family: $heading;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #29c4ff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: #ff2a2a;
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid #044565;
    font-family: $normal;
    background-color: #3278aa;
    margin-top: 3px;
}

.navbar-custom .navbar-toggle {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: none;
}

.navbar-custom .navbar-brand {
    padding: 0;
}

.navbar-custom .navbar-brand >img {
    width: 30%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-custom .navbar-brand:focus {
    outline: none;
}

.navbar-custom a {
    color: white;
}

.navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    font-size: 14px;
    text-transform: uppercase
}

.navbar-custom .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: none;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
    color: white;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 15px;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 10px;
        background: #ffffff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        .nav li {
            a {
                color: $blue;
                &:hover,
                &:focus {
                    color: $orange;
                }
            }
        }
    }
    .navbar-custom.top-nav-collapse .navbar-brand > img {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        width: 25%;
    }
}

.slides-navigation a {
    color: #fff;
    font-size: 24px;
    height: 42px;
    width: 42px;
}

.slides-navigation a .fa {
    font-size: 42px !important
}

.slides-navigation a.prev {
    left: 30px;
    text-align: right;
}

.slides-navigation a.next {
    right: 30px;
}

#slides .container {
    margin-top: 15%;
    text-align: center;
    color: #fff;
}

.topline {
    .orange-line {
        background-color: $orange;
        height: 3px;
    }
    .blue-line {
        background: $blue;
        height: 3px
    }
}

.intro {
    height: 100%;
    padding: 0;
    .h1 {
        color: $orange;
        font-size: 30px;
        font-family: $heading;
        margin-bottom: 20px;
    }
    h4 {
        font-size: 22px;
        margin-bottom: 25px;
        line-height: 36px
    }
}

.btn {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    &.btn-rounded {
        border-radius: 25px;
        padding: 8px 25px;
        text-transform: uppercase
    }
    &.btn-orange {
        background-color: $orange;
        border-color: $orange;
        color: #fff;
        &:hover {
            background-color: transparent;
            color: $orange;
        }
    }
    &.btn-blue-line-rounded {
        background-color: transparent;
        border-color: $blue;
        color: $blue;
        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }
    &.btn-white-line-rounded {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $orange2;
        }
    }
    &.btn-lg {
        padding: 12px 36px;
        font-size: 15px;
    }
}

section#homeContent {
    margin-top: -10%;
    padding: 50px 0;
    background-color: #fff;
    z-index: 100;
    position: relative;
    .cybyteLogo {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
        line-height: 30px;
    }
}

.bt-ornage-link {
    color: $orange;
    text-decoration: none;
    font-size: 16px;
    &:hover {
        color: darken($orange, 10)
    }
    .colorBadge {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $orange;
        display: inline-block;
        margin-right: 10px;
    }
}

section#whatwedo {
    padding: 50px 0;
    h2 {
        font-size: 16px;
        font-family: $heading;
        color: $orange2;
        font-weight: bold;
        span {
            color: $blue;
            font-size: 36px;
        }
    }
    .carouselSection {
        background-color: rgb(255, 255, 255);
        margin-top: 30px;
        box-shadow: 0px 0px 29.44px 2.56px rgba(0, 0, 0, 0.17);
        .eachDo {
            padding: 20px;
            text-align: center;
            border-right: 1px dotted #e5e5e5;

            .h3{
                font-family: $heading;
                color: $blue;
                font-size:20px;
            }
            p {
                margin: 20px 0 60px;
            }
            .btn {
                margin-top: 0;
                margin-bottom: 30px;
            }
            .icon {
                img {
                    margin: 20px auto;
                    width: 60px;
                    display: block
                }
            }
        }
        .owl-prev {
            height: 60px;
            width: 60px;
            background: url(../img/back.png) transparent;
            margin-left: -100px;
            position: absolute;
            top: 32%;
            left: 0;
            background-repeat: no-repeat;
            background-size: 100%;
            opacity: 0.7;
        }
        .owl-next {
            height: 60px;
            width: 60px;
            background: url(../img/next.png) transparent;
            position: absolute;
            top: 32%;
            right: 0;
            background-size: 100%;
            background-repeat: no-repeat;
            margin-right: -100px;
            opacity: 0.7;
        }
    }
}

section#progress {
    padding: 50px 0;
    h2 {
        font-size: 16px;
        font-family: $heading;
        color: $orange2;
        font-weight: bold;
        margin-bottom: 30px;
        span {
            color: $blue;
            font-size: 36px;
        }
    }
    .pregress-container {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 67.15px 11.85px rgba(0, 0, 0, 0.03);
        padding: 30px 15px;
        .progress-art-work {
            background-color: white;
            opacity: 0.98;
            box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.09);
            padding: 75px 50px;
            margin: 40px -40px 40px 50px;
        }
    }
    .progress-img {
        width: 64px;
        margin-right: 20px;
    }
    h4 {
        font-size: 20px;
        font-family: $heading;
        color: $orange2;
        text-align: left;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    p {
        line-height: 26px;
    }
}

section#howwedo {
    padding: 50px 0;
    h2 {
        font-size: 16px;
        font-family: $heading;
        color: $blue;
        font-weight: bold;
        margin-bottom: 30px;
        span {
            color: $blue;
            font-size: 36px;
        }
        text-align: center;
        text-transform: uppercase;
        margin-top:20px;
        margin-bottom: 20px;
    }
    .wedoblock {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 12.48px 3.52px rgba(0, 0, 0, 0.11);
        padding: 20px;
        img {
            width: 100px;
        }
    }
    h3 {
        font-size: 20px;
        font-family: $heading;
        color: $orange2;
        margin-bottom: 30px;
        text-transform: uppercase
    }
    .h3 {
        font-size: 18px;
        font-family: $heading;
        color: $blue;
        font-weight: bold;
        margin-bottom: 30px;
        line-height: 29px;
    }
    ul {
        margin-bottom: 40px;
    }
    ul li {
        margin-bottom: 15px;
    }
}

section#callToAction {
    background-color: $orange2;
    padding: 30px 0;
    margin-top: 20px;
    h3 {
        color: #fff;
        font-family: $heading;
        margin-bottom: 30px;
        font-size: 22px;
    }
    .btn {
        border-width: 2px;
        border-radius: 50px;
    }
}

section#OurclientSay {
    background-color: #fff;
    padding: 50px;
    h2 {
        font-size: 16px;
        font-family: $heading;
        color: $orange2;
        font-weight: bold;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
    .eachTestimonial {
        padding: 50px 0;
        text-align: center;
        p {
            line-height: 26px;
        }
    }
    .cotext {
        margin-bottom: 75px;
    }
    .personName {
        color: $blue;
        margin-bottom: 5px;
    }
    small {
        color: $orange2
    }
    .owl-theme .owl-dots .owl-dot span {
        margin: 10px 5px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        width: 15px;
        height: 6px;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: $orange2;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}

footer#preFooter {
    background-color: #ececec;
    padding: 50px 0 25px;
    img {
        width: 64px;
        margin-bottom: 35px;
    }
    p,
    a {
        color: $blue;
    }
}

footer.primary {
    background-color: #2e2e2e;
    padding: 15px 0;
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 8px;
        color: #fff;
    }
    .nav>li>a:hover,
    .nav>li>a:focus {
        text-decoration: none;
        background-color: #444;
    }
    .social-icons {
        margin: 5px 0;
        float: right
    }
    .social-icons img {
        width: 30px;
    }
    .list-inline>li {
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
    }
}

footer.secondary {
    background-color: #393737;
    padding: 10px 0;
    color: #919191;
    .nav {
        float: right
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 8px;
        color: #919191;
    }
    p {
        font-size: 85%;
        margin-top: 15px;
        margin-bottom: 0;
    }
    font-size: 85%;
    .nav>li>a:hover,
    .nav>li>a:focus {
        text-decoration: none;
        background-color: #444;
    }
}
